[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.1.4"
matplotlib = "==3.8.2"
colorama = "==0.4.6"
numpy = "==1.26.3"

[dev-packages]

[requires]
python_version = "3.11"
